a {
	text-decoration: none;	
}

.button-green {
	text-decoration: none;
	background-color: transparent;
	color: rgb(180,180,180);
	font-weight: 100;
	padding: 4px 16px;
	/*border-radius: 4px;*/
	transition: .3s;
}
.button-green:hover {
	text-decoration: none;
	color: #5CB85C /*#49EA85*/;
	/*border: 1px solid#5CB85C /*#49EA85*/;	*/
}
.button-green-reverse {
	text-decoration: none;
	background-color: transparent;
	border: 1px solid rgb(180,180,180);
	color: rgb(180,180,180);
	font-weight: 100;
	padding: 4px 16px;
	border-radius: 4px;
	transition: .3s;
}
.button-green-reverse:hover {
	text-decoration: none;
	background-color: #5CB85C /*#49EA85*/;
	padding: 4px 16px;	
	color: white;
}